*{
    margin: 0;
}
header{
    background-color: green;
    color: white;
    height: 80px;
    text-align: center;
}
.content{
    overflow: hidden;
}
.left_content{
width: 15%;
height: 550px;
background-color: blueviolet;
float: left;
text-align: center;
color: white;
}
.middle_content{
width: 70%;
height: 550px;
background-color: aqua;
float: left;
}
.right_content{
width: 15%;
height: 550px;
background-color: chocolate;
float: left;
text-align: center;
color: white;
}
.middle_top_content{
height: 20%;
color: white;
text-align: center;
}
.middle_center_content{
height: 60%;
background-color: cornflowerblue;
color: white;
text-align: center;
}
.middle_bottom_content{
height: 20%;
background-color: darkblue;
color: white;
text-align: center;
}
footer{
    background-color: black;
    color: white;
    height: 60px;
    text-align: center;
}